.pay-title.text-center {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.checkout-title {
    background: #F29F05;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 20px 0 10px;
    font-size: inherit;
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.field label {
    font-weight: bold;
    margin-bottom: 4px;
}
.field input,
.field textarea {
    width: 100%;
}

.collapse.in {
	display: block;
}
.template-checkout {
	overflow: hidden;
}
.template-checkout .row {
    margin: 0;
}
.cart.table .thead-dark th {
    vertical-align: middle;
    text-align: center;
    padding: 9px;
}
.cart.table.cart-checkout .thead-dark th {
    padding: 9px;
}
.total {
    font-size: 1.5em;
    font-weight: 600;
    color: #03A62C;
    text-transform: uppercase;
    text-align: right;
}
.place-checkout {
    margin-top: 24px;
}
