.badge {
	display: inline-block;
	padding: 2px 6px;
	white-space: nowrap;
	background: #ffc107;
	border-radius: 2px;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	color: #212529;
}

.badge--success {
	color: #fff;
	background: #28a745;
}

.badge--danger {
	color: #fff;
	background: #dc3545;
}

.badge--info {
	color: #fff;
	background: #17a2b8;
}