.badge {
    padding: .25em .6em .5em;
	color: #212529;
	background: #ffc107;
	font-weight: bold;
	font-size: 11px;
	border-radius: .25em;
}

.badge--success {
	color: #fff;
	background: #28a745;
}

.badge--danger {
	color: #fff;
	background: #dc3545;
}

.badge--info {
	color: #fff;
	background: #17a2b8;
}

.badge {
	margin-right: .5em;
}

.badge + .button {
    padding: .35em .4em;
    height: auto;
    line-height: 1;
    border-bottom: 0;
}
