.badge {
	display: inline-block;
	padding: 2px 6px;
	/*white-space: nowrap;*/
	background: #ffc107;
	border-radius: 2px;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	color: #212529;
}

.badge--success {
	color: #fff;
	background: #28a745;
}

.badge--danger {
	color: #fff;
	background: #dc3545;
}

.badge--info {
	color: #fff;
	background: #17a2b8;
}

.gtt-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	color: #999;
    border-radius: 4px;
    transition: all .2s;
    text-decoration: none;
	border: 1px solid currentColor;
	margin: 0 4px 4px 0;
}
.gtt-button .dashicons {
	font-size: 18px;
    height: 18px;
    width: 18px;
}
.gtt-button:hover {
    color: inherit;
    background: #eee;
}