#wpadminbar .bubble {
	background: #ca4a1f;
	color: #fff;
	font-size: 9px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding: 0 6px;
	line-height: 17px;
	top: -1px;
	position: relative;
}
