.alert {
	padding: .75em 1.25em;
	margin: 1.5em 0;
	color: #856404;
	background: #fff3cd;
	border-radius: .25em;
}

.alert--success {
	color: #155724;
	background: #d4edda;
}

.alert--danger {
	color: #721c24;
	background: #f8d7da;
}

.alert--info {
	color: #004085;
	background: #cce5ff;
}
